[submodule "lib/external/faker-cxx"]
	path = lib/external/faker-cxx
	url = https://github.com/cieslarmichal/faker-cxx
[submodule "lib/external/logger"]
	path = lib/external/logger
	url = https://github.com/xaprier/logger.git
[submodule "lib/external/XQCircularLoadingIndicator"]
	path = lib/external/XQCircularLoadingIndicator
	url = https://github.com/xaprier/XQCircularLoadingIndicator.git
[submodule "lib/external/XQWidgetComposer"]
	path = lib/external/XQWidgetComposer
	url = https://github.com/xaprier/XQWidgetComposer.git
[submodule "lib/external/XQPwdLineEdit"]
	path = lib/external/XQPwdLineEdit
	url = https://github.com/xaprier/XQPwdLineEdit.git
