[submodule "lib/faker/lib/faker-cxx"]
	path = lib/faker/lib/faker-cxx
	url = https://github.com/cieslarmichal/faker-cxx
[submodule "lib/logger"]
	path = lib/logger
	url = https://github.com/xaprier/logger.git
[submodule "lib/widgets/XQCircularLoadingIndicator"]
	path = lib/widgets/XQCircularLoadingIndicator
	url = https://github.com/xaprier/XQCircularLoadingIndicator.git
[submodule "lib/widgets/XQWidgetComposer"]
	path = lib/widgets/XQWidgetComposer
	url = https://github.com/xaprier/XQWidgetComposer.git
[submodule "lib/widgets/XQPwdLineEdit"]
	path = lib/widgets/XQPwdLineEdit
	url = https://github.com/xaprier/XQPwdLineEdit
[submodule "lib/yaml-cpp"]
	path = lib/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
