[submodule "lib/faker/lib/faker-cxx"]
	path = lib/faker/lib/faker-cxx
	url = https://github.com/cieslarmichal/faker-cxx
[submodule "lib/logger"]
	path = lib/logger
	url = https://github.com/xaprier/logger.git
