[Desktop Entry]
Version=1.0
Type=Application
Name=XFakeContrib
Comment=Fake Contribution maker for GitHub
Exec=XFakeContrib
Icon=XFakeContrib
Categories=Utility;
